html,
body,
h1,
h2,
h3,
h4,
h5,
div,
section,
span,
img,
ul,
ol,
li,
dl,
dd,
dt,
hgroup,
textarea,
figure,
figcaption,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.background-gray {
    background-color: #f0f3f4;
    > header .header{
        width:100%;
    }
    >header .header1{

    }
}