

$color_1c2b36:#1c2b36;
$color_797979:#797979;
$color_c4d0d9:#c4d0d9;
$color_eef0f0:#eef0f0;
$color_333:#333;
$color_ccc:#ccc;
$color_f6f8f8:#f6f8f8;
$color_dee5e7:#dee5e7;
$color_169bd5:#169bd5;
$color_f6f8f8:#f6f8f8;
$color_3fad69: #3fad69;
$color_04aacb: #04aacb;
$color_ef7c99: #ef7c99;
$color_f6b749: #f6b749;
$color_1296db: #1296db;
$color_f0f3f4: #f0f3f4;
$color_fff: #fff;
$color_cfdadd: #cfdadd;
$color_red: red;
$color_999: #999;
$color_169BD5: #169BD5;


$default_family: '微软雅黑';